@font-face {
    font-family: Ubuntu-Bold;
    src: url("../fonts/ubuntu/Ubuntu-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    font-size: 30px;
    text-decoration: none;
    border-style: none;
    color: black;
    background: rgb(18, 226, 216);
    padding: 10px;
    border-radius: 2rem;
    margin-top: 10px;
}

.btn:hover {
    background: rgb(2, 70, 70);
    color: white;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #47adbd);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    text-align: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    z-index: 2;
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 15%;
}

body,
html {
    height: 100%;
    font-family: Ubuntu-Bold, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: Ubuntu-Bold;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.container {
    max-width: 1200px;
}

.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
}

.wrap-contact100 {
    width: 550px;
    background: transparent;
    padding: 50px 0px 160px 0px;
}

.contact100-form {
    width: 100%;
}

.contact100-form-title {
    display: block;
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: #403866;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 49px;
}

.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 31px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
}

.input100 {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 31px;
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #8f8fa1;
    line-height: 1.2;
}

input.input100 {
    height: 62px;
    padding: 0 35px 0 35px;
}

textarea.input100 {
    min-height: 169px;
    padding: 19px 35px 0 35px;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.contact100-form-btn {
    background-color: #65dfc9;
    border-radius: 50px;
    padding: 10px;
    width: 100px;
    height: 50px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: blackw;
}